.read-more {
display: block;
float: left;
border-radius: 3px;
font-size: 13px;
padding: 7px 20px;
background: #333;
color: #fff;
letter-spacing: 0.5px;
text-transform: uppercase;
border: 1px solid #1D1D1D;
margin-top: 13px;
margin-bottom: 12px;
}
.entry-title{padding-left:8px}
.entry-container{background:#FFF;position:relative}
.entry-content{padding:15px}
.entry-content p{color:#525252;font-size:18px}
.entry-image{overflow:hidden;background:#F4F4F4}
.entry-image img{width:100%;-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out}
.entry-meta{background:none repeat scroll 0 0 #FFF;padding:15px 30px 15px;border-color:#ddd;border-style:solid;border-width:1px 0 0;position:relative;background:#fcfcfc}
.entry-meta img{margin-right:15px;display:inline-block;padding: 1px;
border: 1px solid #DAD1D1;}
.entry-meta h4{display:inline-block;line-height:55px}
.entry-meta h4 a{color:#878787;font-weight:normal;text-shadow:0 1px 0 #FFF;text-decoration:none;cursor:pointer}
.entry-meta .author-meta{position:relative}

.mimg {
  width:75%;
}

.mimgsm {
  width:50%;
}

.mimgsm1 {
  width:65%;
}

.mimgsm3 {
  width:300px;
}

.textcenter {
  text-align:center;
  margin:auto;
}

@media (max-width: 400px) {
  .mimg {
    width:90%;
  }
  .mimgsm {
    width:70%;
  }
  .mimgsm1 {
    width:65%;
  }

}

@media (max-width: 600px) {
  .mimg {
    width:80%;
    width:70%;
  }
}
